<div class="bio-section">
    <img src="{{artist.picture}}" style="height: 200px; width: auto;" class="artist-image">
    <div class="artist-info">
        <h1>{{artist.Name}}
            {{#if follows}}
                <a class="unfavorite-button" href="/removeFromFollowedArtists/{{artist.Name}}">&#10084;</a>
            {{else}}
                <a class="favorite-button" href="/addToFollowedArtists/{{artist.Name}}">&#10084;</a>
            {{/if}}
        </h1>
        
        <p>{{artist.Bio}}</p>
    </div>
</div>

<div class="songs-list">
    <h1>Songs by {{artist.Name}}</h1>
    <ul>
        {{#each albums}}
            <h2 class="album-title">{{Name}}</h2>
            {{#each songs}}
                <li class="song">
                    <a href="../../song-player/{{Name}}"> 
                    <img src="{{picture}}" alt="{{Name}}"></a>
                    <p>{{Name}}              </p>
                    <br>
                </li>
            {{/each}}
        {{/each}}
        {{#each singles}}
         <h2 class="album-title">Singles</h2>
            <li class="song">
                <a href="../../song-player/{{Name}}"> 
                <img src="{{picture}}" alt="{{Name}}"></a>
                <p>{{Name}}              </p>
                <br>
            </li>
        {{/each}}

        {{#if hasntReleased}}
            {{#if artist.Sex}}
                <h2>{{artist.Name}} hasn't released any songs yet.</h2>
            {{else}}
                <h2>{{artist.Name}} haven't released any songs yet.</h2>
            {{/if}}
        {{/if}}
    </ul>
</div>

<div class="upcoming-events">
    <h1>Upcoming Events</h1>
        <ul>
            {{#each events}}
            <li>
                <img src="/{{picture}}" class="event-image">
                <div class="event-info">
                    <h3>{{Title}}</h3>
                    <p>Date: {{Date}}</p>
                    <p>Location: {{Location}}</p>
                </div>
            </li>
            {{else}}
            {{#if artist.Sex}}
                <h2>{{artist.Name}} is not participating in any events right now.</h2>
            {{else}}
                <h2>{{artist.Name}} are not participating in any events right now.</h2>
            {{/if}}
            {{/each}}
        </ul>
    </h2>
</div>
